.Content {
  width: 360px;
  margin-bottom: 56px;
  margin-top: 80px;
}

.BNB {
  width: 360px;
  position: fixed;
  bottom: 0;
}

.Container {
  width: 360px;
}

.TNB {
  width: 360px;
  position: fixed;
}
